    <div class="u-row">
    <div class="n-col-2">
        <div style="width: 100%"><input type="text" id="query" class="search_input" ng-model="query" placeholder="Zoeken" autofocus/></div>
        <div id="objectList" class="scroll">
<!--            <pre>[[ooCtrl.selectedObject | json]]</pre>-->
			<div><p>Velden</p></div>
            <div class="object-card"
				 ng-repeat="veld in ooCtrl.veldenList | objectTypeFilter:'veld' | objectNameFilter:query | orderBy:'name'"
				 ng-class="{objectCardActive:ooCtrl.selectedObject == veld}"
				>
                <div class="headerText"
						ng-click="ooCtrl.selectObject(veld)">[[veld.name]]</div>
				
				<div class="subHeaderText">
					<ul>
						<li ng-repeat="huurder in veld.huurders | orderBy:'name' ">[[huurder.name]]</li>
					</ul>
				</div>
                <div class="ondergrond">[[veld.ondergrond_type]]</div>
            </div>

			<div><p>Panden</p></div>
			<div class="object-card"
				 ng-repeat="veld in ooCtrl.veldenList | objectTypeFilter:'pand' | objectNameFilter:query | orderBy:'name'"
				 ng-class="{objectCardActive:ooCtrl.selectedObject == veld}"
				 ng-init="veld.huurders_expanded = false;">
				<div class="headerText"
					 ng-click="ooCtrl.selectObject(veld)">[[veld.name]]</div>
				<div class="subHeaderText">
                    <!--ng-click="veld.huurders_expanded = !veld.huurders_expanded" >
                    Huurders:  +
                </div>
                <div ng-class="{dataContent:true, activeContent:veld.huurders_expanded}">
                -->
				    <ul>
						<li ng-repeat="huurder in veld.huurders | orderBy:'name' ">   [[huurder.name]]
                        </li>
					</ul>
				</div>
			</div>

        </div>
        
    </div>
    <div class="n-col-4">
        <basic-map selected-objects=ooCtrl.selectedGeometry></basic-map>
    </div>
    </div>
