
<div class="print">
    <!--            <pre>[[ooCtrl.selectedObject | json]]</pre>-->
    <div class="u-row">
        <div class="n-col-4">
            <div class="logo"><img src="sportparken/static/app/img/Logo-Gemeente-Amsterdam-print.png" alt="Amsterdam" id="logo"></div>
            
            <basic-map selected-objects=ooCtrl.selectedGeometry></basic-map>
            <div><h1>{{ooCtrl.sportparkData.name}}</h1></div>
        </div>
 </div>
<div class="print">  
        <div class="n-col-2">
            <div><h1>{{ooCtrl.sportparkData.name}}</h1></div>
                 <h3>Velden</h3>
                <div>
               <ul id="objectList" ng-repeat="column in ooCtrl.columns">
                    {{ooCtrl.columns}}
                   <li class="object-card"
                     ng-repeat="veld in ooCtrl.veldenList | objectTypeFilter:'veld' | objectNameFilter:query | orderBy:'name' | objectSliceFilter:column.start:column.end"
                     ng-class="{objectCardActive:ooCtrl.selectedObject == veld}"
                    >
                    <!--<div class="autoNumber">#{{$index + 1}}[[veld.tid]]</div>-->
                
                        <div class="headerText" id="leftCol"
                            ng-click="ooCtrl.selectObject(veld)">[[veld.name]]</div>
                        <div class="ondergrond">[[veld.ondergrond_type]]</div>
                    <div class="subHeaderText">
                        <ul>
                            <li ng-repeat="huurder in veld.huurders | orderBy:'name' ">[[huurder.name]]</li>
                        </ul>
                    </div>
                    </li>
                </ul>
                </div>
            <ul id="objectList" ng-repeat="column in ooCtrl.columns">
                    <h3>Panden</h3>
                  <li class="object-card"
                     ng-repeat="veld in ooCtrl.veldenList | objectTypeFilter:'pand' | objectNameFilter:query | orderBy:'name'| objectSliceFilter:column.start:column.end"
                     ng-class="{objectCardActive:ooCtrl.selectedObject == pand}"
                     ng-init="veld.huurders_expanded = false;">
                    <div class="headerText"
                         ng-click="ooCtrl.selectObject(veld)">[[veld.name]]</div>
                    </li>
            </ul>
        </div>
    </div>
</div>