@media all {
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    
    body {
        font-size: 14px;
        line-height: 1.25;
        color: #000;
        background-color: #fff;
        font-family: "Avenir LT W01 55 Roman", Arial, sans-serif;
    }

    .content-wrapper {
        margin-left:30px;
    }

    form {
        width:100%;
        overflow:hidden;
    }

    .loginPage {
        margin: auto;
        width: 33%;
    }

   .loginPage label {
        float:left;
        width:100%;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    .errorMessage {
        color: red;
        font-weight: bold;
    }

    input.form-control {
        float: left;
        width:100%;
        margin-bottom: 10px;
    }
     
    .loginPage button, .loginPage button:focus{
        margin-top:10px;
        height: 24px;
        border: none;
        outline:none;
        float: left;
        width:100%;
        background: darkgray;
        color: white;
        font-weight: bold;
    }

    .loginPage button:hover, .loginPage button:active  {
        border: none;
        outline:none;
        background: red;
    }

    .loginTitle {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }





.print body {
           font-size: 14px;
}

.print {
    height: 297mm;
    width: 420mm;
    margin:0mm;
    font-family: "Corbel", verdana, sans-serif;
    
}
    label {
        font-weight: bold;
    }

    ul {
        list-style-type: square;
        list-style-position:inside;
        }

.print ul {
        list-style-type: none;

        }

.print .object-card ul {
    list-style-type: square;
}
    .row {
        width: 100%;   
        height: auto;
    /*    display: block;*/
    }


.print ul {
   
    margin: 0;
    padding: 0;
}

.print li {
    margin-left:13px;
}

.print .subHeaderText {
    font-weight: normal;
}


    .scroll {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .header_title {
        width: 100%;
        height: 24px;
        margin-bottom: 5px;
        margin-right: 5px;
        float: left;
    /*    display: inline-block;*/
    }

.print .header_title{
    height: 50px;
    margin-bottom: 5px;
    
}
    .n-col-2 {
        width: 33%;
    /*    height: 100%;*/
        margin-bottom: 5px;
        margin-right: 10px;
        float: left;
    /*    display: inline-block;*/
    }
    .print .n-col-2 {
        width: 100%;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-top: 10px;
        float: left;
    }

    .n-col-4 {
        width: 65%;
    /*    height: 100%;*/
        margin-bottom: 5px;
        margin-right: 5px;
        float: left;
    /*    display: inline-block;*/
    }
  .print .n-col-4 {
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        margin-right: 0px;
        float: left;
    /*    display: inline-block;*/
    }
    .main-nav .active {
        background-color: red;
    }

    .main-nav {
        background-color: #333;
        color: #fff;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 10px;
    }

    .main-nav ul {
        list-style-type: none;
        background-color: #333;
        padding: 0px;
        margin: 0px;
    }

    .main-nav li {
        display: inline-block;
        font-size: 1.2em;
        line-height: 30px;
        height: 30px;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px;
        font-family: verdana,sans-serif;
        font-weight: bold;
    }

    .main-nav li:hover {
        background-color: red;
        cursor: pointer;
    }

    .sub-nav li {
        display: inline-block;
        font-size: 1.0em;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
        align-content: center;
        border-bottom: 1px;
        border-bottom-color: grey;
        border-bottom-style: solid
        
    }

    .sub-nav {
        margin-bottom: 5px;
    }

    .sub-nav ul {
        
    }

    .sub-nav li:hover {
        cursor: pointer;
        border-bottom-color: red;
    }

    .sub-nav .active{
        border-bottom: 2px solid red;
    }

    .headerImg {
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        float:left;
    }

    .u-row {
        margin-bottom: 0px;
        padding: 0px;
        border: none;
        width: 100%;
        display: inline-block;
    /*    background-color: aquamarine;*/
    }

    .sportpark_tile {
    /*    display: block;*/
    /*    position: relative;*/
        margin-bottom: 5px;
        background-color: #f6f6f6;
    /*    background-position: center center;*/
        background-size: cover;
        border-bottom: 1px;
        border-bottom-color: #ccc;
        padding: 10px;
    }
    .sportpark_tile:hover {
        cursor: pointer;
        /* background-color: #f5f5f5; */
        background-color: #eee;
    }

    h1 {
        color: #000;
        font-weight: bold;
        font-size: 24px;
    }

    .print h1 {
        color: #000;
        font-weight: bold;
        
        margin-left:0px;
        margin-bottom: 0px;
    }

    .search_input {
        font-size: 16px;
        line-height: 1.25;
        width: 100%;
        height: 30px;
        padding-right: 50px;
        padding-left: 10px;
        border: 1px solid #ccc;
        border-radius: 0;
        outline: none;
        background-color: #fff;
        color: #000;
        font-weight: bold;
        margin-bottom: 5px;
    }

    #objectList {
        height: 80vh;
    }

    .print #objectList {
        width: 42mm;
        height: 100%;
        margin-top: 0px;
        margin-left: 0mm;
 
        float:left;
    }

    .object-metadata {
        font-size: 10px;
        }

    .number {
        /*font-family: verdana, arial, sans-serif; */
        text-align: right;
        width: 20px;
        float: left;
        margin-right: 5px;
        padding-top: 0px;
    }

    .print .number {
        font-family: verdana, arial, sans-serif;
        text-align: right;
        font-size: 11px;
        float: left;
        width: 5mm;
        margin-right: 2mm;
        padding-top: 0.5mm;
    }

    .print .objectinformation {
        margin-left: 7mm;
        

    }

    .print .objectinformation .li {
        list-style-type: square;
    }

    #overzichtList {
        height: 85vh;
    }

    #mapId {
        width: 100%;
        height: 84vh;
    }
    .print #mapId {
        width: 100%;
        height: 90%;
    }

    .object-card {
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px 5px 5px 5px;
        background-color: #eee;
    }

    .print .object-card {
        background-color: transparent;
        margin-bottom: 1mm;
        margin-left: 0px;
        margin-right: 2mm;
        padding: 0px 0px 0px 0px;
    }
    .object-card:hover {
        cursor: pointer;
        background-color: #ddd;
    }

    .objectCardActive {
        width: auto;
        border-left: solid 2px red;
    }

    .headerText {
        font-weight: bold;
        font-size: 1.0em;
        margin-bottom: 5px;
    }

    #leftCol {
        width:24px;
        padding-right:7px;
        height:20px;
        float:left;
        text-align:right;
    }
    h3 {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top:20px;
    }

        .headerText, h2 {
        font-weight: bold;
        font-size: 1.0em;
    }

     .header-login {
        float:right;
        top:5px;
        margin-top: 5px;
        margin-right: 15px;
    }   

    .header-login ul {
        list-style-type: none;
    }

     .header-login a {
        font-weight: bold;
        color:darkgray;
        text-decoration: none;
        font-size: 1.0em;
    } 
       
.print .headerText {
        font-weight: bold;
        margin-bottom: 3px;
    }
    .dataContent {
        height: 0px;
        overflow:hidden;
        padding-left: 25px;
    }

    .activeContent {
        height: auto;
    }

    #edit_map {
        width: 100%;
        height: 35vh;
        background-color: aquamarine;
    }

    #total_map {
        width: 100%;
        height: 88vh;
        background-color: aquamarine;
    }

    #object_data {
        padding-top: 10px;
        padding-left: 10px;
        height: 50vh;
        overflow: hidden;
        overflow-y: auto;
    }

    #huurdersList {
        height: 80vh;
    }

    #verhuur {
        height: 80vh;
    }

    #verhuurDetail {
        height: 79vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .s_input {
        background-color: transparent;
        width: 95%;
        padding-left: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }

    .s_select {
        width: 95%;
        background-color: transparent;
        border: none;
        padding-left: 10px; 
        margin-bottom: 10px;
        height: 25px;
        border-bottom: 1px solid #ddd;
        
    }

    .s_checkbox {
    /*    visibility: hidden;*/
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #ddd;
        
    }

    .btn_normal {
        background-color: gainsboro;
    /*    width: 100px;*/
        min-width: 125px;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: fit;
        margin-top: 25px;
        margin-right: 5px;
    }

    .btn_normal.alert{
        background-color: #f4511e;
        border-color: #f4511e;
        color: white;
        font-weight: bold;
    }

    #logo {
        width: 135px;
    }

    .print .logo {
    width: 400px;
    position: absolute;
    margin-left:10px;
    margin-top:10px;
    z-index: 20000;
}

    .ondergrond {
        font-size: 11px;


    }

    .print .ondergrond {
        font-weight: normal;
        height:22px;
        padding-top:3px;
    }
    .inputTable td {
        border-bottom: 1px solid #ddd;
    }

    .inputTable thead td {
        padding-bottom: 8px;
     /*   font-weight: bold; */
    }

    .map_legend {
        background-color: white;
        line-height: 20px;
        padding: 5px 10px 5px 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }

    .map_legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

    .map_info {
        background-color: white;
        width: 150px;
        line-height: 18px;
        padding: 5px 10px 5px 10px;
        border: 1px solid grey;
        border-radius: 5px;
    }

    .leaflet-tooltip.map_label.leaflet-zoom-animated.leaflet-tooltip-left,
    .leaflet-tooltip.map_label.leaflet-zoom-animated.leaflet-tooltip-center,
    .leaflet-tooltip.map_label.leaflet-zoom-animated.leaflet-tooltip-right  {
        position: absolute;
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        top:7px;
        left:8px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        padding: 0px;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        color: #fff;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        box-shadow: none;
    }



.print .headerImg, .print .map_legend, .print .map_info , .print .leaflet-control-zoom-in, .print .leaflet-control-zoom-out {
       display: none;
        } 
}

@media print { 
    .u-fixed, .leaflet-control-layers, .leaflet-container .leaflet-control-attribution, .no-print { 
        display: none; 
    }


}
