<div id="no-print" class="no-print u-fixed">
    <ul class="sub-nav">
        <li ui-sref="sportparken.sportparkendetail.objecten" ui-sref-active="sub-nav active">Objecten</li>
        <li ui-sref="sportparken.sportparkendetail.huurders" ui-sref-active="sub-nav active">Huurders</li>
        <li ui-sref="sportparken.sportparkendetail.verhuur" ui-sref-active="sub-nav active">Verhuur</li>
        <li ui-sref="sportparken.sportparkendetail.edit_objecten" ui-sref-active="sub-nav active">Object informatie</li>
        <li ui-sref="sportparken.sportparkendetail.print" ui-sref-active="sub-nav active">Print</li>
    </ul>
</div>
