

    <div class="col-2 masterList">
<!--        <veld-list sportpark-id=spobjectctrl.id></veld-list>-->
        <div>
            <div><p>Velden:</p></div>
            <div class="itemCard"
				 ng-class="{itemCardActive:spobjectctrl.selectedObject == veld}"
				 ng-repeat="veld in spobjectctrl.veldenList | filter:veld.objectType='veld'"
				 ng-init="veld.huurders_expanded = false;">
                <div class="headerText"
						ng-click="spobjectctrl.selectObject(veld)">[[veld.name]]</div>
				<div><p>[[veld.ondergrond_type]]</p></div>
				<div class="subHeaderText"
						ng-click="veld.huurders_expanded = !veld.huurders_expanded" >
					Huurders:  +
				</div>
                <div ng-class="{dataContent:true, activeContent:veld.huurders_expanded}">
					<ul>
						<li ng-repeat="huurder in veld.huurders | orderBy:'name' ">[[huurder.name]]</li>
					</ul>
				</div>
            </div>
            <div><p>Panden:</p></div>
			<div class="itemCard"
				 ng-class="{itemCardActive:spobjectctrl.selectedObject == veld}"
				 ng-repeat="veld in spobjectctrl.veldenList | filter:veld.objectType='pand'"
				 ng-init="veld.huurders_expanded = false;">
				<div class="headerText"
					 ng-click="spobjectctrl.selectObject(veld)">[[veld.name]]</div>
				<div><p>[[veld.ondergrond_type]]</p></div>
				<div class="subHeaderText"
					 ng-click="veld.huurders_expanded = !veld.huurders_expanded" >
					Huurders:  +
				</div>
				<div ng-class="{dataContent:true, activeContent:veld.huurders_expanded}">
					<ul>
						<li ng-repeat="huurder in veld.huurders | orderBy:'name' ">[[huurder.name]]</li>
					</ul>
				</div>
			</div>
        </div>
    </div>
    <div class="col-4">
        <sport-map selected-objects=spobjectctrl.selectedGeometry></sport-map>
    </div>