<!-- objecten -->
<div class='col-2 masterList'>
    <div class='itemCard'
         ng-repeat='huurder in ohrCtrl.huurderSet | orderBy: "name"'
         ng-click='ohrCtrl.selectHuurder(huurder.tid)'
         ng-class="{itemCardActive:ohrCtrl.selectedHuurderId == huurder.tid}">
        <div class="headerText">[[huurder.name]]</div>
    </div>
</div>

<!-- detail informatie -->
<div class='col-2'>
    <div class='itemCard'>
        <select ng-model="ohrCtrl.selectedObject" 
                ng-options="item.tid as item.name for item in ohrCtrl.sportparkObjectSet">
            <option value="">Selecteer object</option>
        </select> 
        <span> voor [[ohrCtrl.selectedHuurderId]]</span>
        <span ng-click='ohrCtrl.addObjectHuurderRelation()'> add </span>
    </div>
</div>

<div class='col-2 masterList'>
	<div class='itemCard' ng-repeat='rel in ohrCtrl.huurderObjectSet'>
		<div class="headerText">[[rel.sportparkObject.name]]</div>
		<div>Opmerkingen:</div>
		<md-divider></md-divider>
		<!--<p style="text-align: right;" ng-click='ohrCtrl.removeHuurderRelation(rel.tid)'> remove </p>-->
		<div style="padding-right: 5px; text-align: right;">
			<md-button class="md-warn btn_1"  ng-click='ohrCtrl.showConfirm($event, rel.tid)'>Verwijderen</md-button>
		</div>
	</div>
</div>
