<div class="nav-sub-menu">
	<ul>
		<li ui-sref="sportparken.sportparkendetail.objecten" ui-sref-active="nav-sub-menu-active">Objecten</li>
		<li ui-sref="sportparken.sportparkendetail.huurderoverzicht" ui-sref-active="nav-sub-menu-active">Huurders</li>
		<li ui-sref="sportparken.sportparkendetail.verhuur" ui-sref-active="nav-sub-menu-active">Verhuur</li>
		<!--<div class="menu-card" ui-sref="sportparken.sportparkendetail.objectinformatie" ui-sref-active="menu-card-active">Object informatie</div>-->
	</ul>
</div>
<ui-view></ui-view>