
<div class="n-col-2">
            <div><input type="text" id="query" class="search_input" ng-model="query" placeholder="Zoeken" autofocus/></div>
        <div id="objectList" class="scroll">
<!--            <pre>[[ooCtrl.selectedObject | json]]</pre>-->
            <div class="object-card"
				 ng-class="{objectCardActive:oeCtrl.org_selectedObject == veld}"
				 ng-repeat="veld in oeCtrl.veldenList | objectNameFilter:query | orderBy: 'name'"
				 ng-init="veld.huurders_expanded = false;">
                <div class="headerText"
						ng-click="oeCtrl.selectObject(veld)">[[veld.name]]</div>
				<div><p>[[veld.ondergrond_type]]</p></div>
            </div>
    </div>
</div>
<div class="n-col-4">
    <div id="edit_map">minimized map</div>
    <div id="object_data">
        <div class="n-col-2">
            <label>Alias:<input class="s_input" type="text" ng-model=oeCtrl.user_selectedObject.name></label><br>
            <label>Type:
                <select class="s_select" ng-model=oeCtrl.user_selectedObject.objectType>
                    <option value="pand">Pand</option>
                    <option value="veld">Veld</option>
                </select>
            </label> <br>
            <label>Prijs:<input class="s_input" type="number" ng-model="oeCtrl.user_selectedObject.verhuurprijs"></label>
            <button class="btn_normal alert" ng-click="oeCtrl.reset_data()">Reset</button>
            <button class="btn_normal" ng-click="oeCtrl.save_data()">Opslaan</button>
        </div>
        <div class="n-col-4">
            <table class="inputTable" style="width: 100%">
                <thead>
                    <tr>
<!--                        <td style="width: 30px; ">Hoofd</td>-->
                        <td style="width: 25px;">Id</td>
                        <td>Ondergrond</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="geom in oeCtrl.user_objectData" style="border-bottom: 1px solid grey;">
<!--                        <td><input type="checkbox" class="s_checkbox"/></td>-->
                        <!-- ID of the geom object, can not be changed -->
                        <td>[[geom.tid]]</td>
                        <!-- Type the geom is made of, can be changed -->
                        <td>[[geom.ondergrond_type]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>